* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
	font-family: 'Computer Modern Serif';
	src: url('../fonts/cms/cmunrm.eot');
	src: url('../fonts/cms/cmunrm.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/cms/cmunrm.woff') format('woff'),
		 url('../fonts/cms/cmunrm.ttf') format('truetype'),
		 url('../fonts/cms/cmunrm.svg#cmunrm') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Serif';
	src: url('../fonts/cms/cmunbx.eot');
	src: url('../fonts/cms/cmunbx.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/cms/cmunbx.woff') format('woff'),
		 url('../fonts/cms/cmunbx.ttf') format('truetype'),
		 url('../fonts/cms/cmunbx.svg#cmunbx') format('svg');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Serif';
	src: url('../fonts/cms/cmunti.eot');
	src: url('../fonts/cms/cmunti.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/cms/cmunti.woff') format('woff'),
		 url('../fonts/cms/cmunti.ttf') format('truetype'),
		 url('../fonts/cms/cmunti.svg#cmunti') format('svg');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'Computer Modern Serif';
	src: url('../fonts/cms/cmunbi.eot');
	src: url('../fonts/cms/cmunbi.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/cms/cmunbi.woff') format('woff'),
		 url('../fonts/cms/cmunbi.ttf') format('truetype'),
		 url('../fonts/cms/cmunbi.svg#cmunbi') format('svg');
	font-weight: bold;
	font-style: italic;
}


html, body {
    width: 80%;
    height: 100%;
    margin: 0px 0px;
    margin-left: auto;
    margin-right: auto;
}

body a {
    color: blue;
    text-decoration: none;
}

body a:hover {
    text-decoration: underline;
}

header {
    display: block;
    margin-top: 30px;
    width: 100%;
    height: 7%;
}

h2 {
    display: inline;
}

section {
    display: inline-block;
    height: 70%;
    margin-bottom: 20px;
}

section#chat {
    position: relative;
    float: left;
    width: 80%;
}

#messages {
    width: 100%;
    height: 90%;
    overflow: auto;
    list-style-type: none;
    padding-bottom: 10px;
    font-family: 'Computer Modern Serif', serif;
    font-weight: normal;
    font-style: normal;
}

#messages li {
    padding: 15px 10px;
}

form {
    position: absolute;
    bottom: 0;
    width: 100%;
}


form input {
    display: inline-block;
    padding: 7px;
    width: 100%;
}

section#sidebar {
    padding-left: 5px; 
    position: relative;
    width: 20%;
}

#connectedUsers {
    font: small-caps 14px sans-serif;
    padding-left: 5px;
    margin-bottom: 3px;
}

#users {
    padding-left: 10px;
    list-style-type: none;
}

#sep {
    display: inline;
    font-size: 24px;
    margin-top: 1px;
    margin-left: 2%;
    margin-right: 2%;
    color: #bbb;
}

#invite {
    margin-bottom: 20px;
}

#inviteinput {
    font-size: 80%;
    font-family: monospace;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
    padding: 5px 3px;
    cursor:pointer;
}

#fade {
    display: none;
}

footer {
    display: block;
    width: 80%;
    color: gray;
}

#preview {
    display: inline;
    padding-left: 10px;
    width: 300px;
}


